@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Poppins:wght@500&display=swap');

*{
    font-family: 'DM Sans', sans-serif;
}

body{
    background: url(./assets/hero_1.png) no-repeat center center fixed;
    background-size: cover;
    max-width: 1140px;
    height: 675px;
    background-color: #482BE7;
    box-sizing: border-box;
}

.container{
    margin: 15px;
}

.navbar-light .navbar-brand {
    position: relative;
    width: 106px;
    height: 32px;
    left: 2px;
    top: -6px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    letter-spacing: -0.292683px;
    color: #FFFFFF;
}

.nav {
    position: relative;
    left: -10px;
}

.nav-link {
    position: relative;
    top: 2px;
    left: -120px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.fa {
    position: relative;
    top: 6px;
}

.hamburger {
    position: absolute;
    display: none;
    top: 15px;
    right: 16px;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.act-btn{
    padding: 10px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;    
    color: #FFFFFF;
    outline: none;
    border: none;
    background: #482BE7;
    border-radius: 100px;
}

.act-btn:hover {
    background-color: aquamarine;
}

.site-desc{
    margin-top: 150px;
}

.main-text{
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;    
    text-align: center;
    letter-spacing: -1px;    
    color: #FFFFFF;
}

.para-text {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 1300px) {

    body {
        width: 1300px;
    }

    .container {
        margin-top: 20px;
        max-width: 1300px;
        margin-left: 130px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

@media screen and (max-width: 1024px) {

    .nav-link {
        position: relative;
        left: 0;
    }

    .act-btn {
        position: relative;
        left: 70px;
    }

    .main-text {
        font-size: 80px;
    }

    .para-text {
        font-size: 32px;
        line-height: 50px;
    }
    
}

@media screen and (max-width: 768px) {
    
    body {
        max-width: 720px;
    }

    .container {
        margin: 20px 25px;
        padding: 15px;
    }

    br {
        display: none
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .navbar-light .navbar-brand {
        top: 0px;
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        position: relative;
        left: 2px;
    }
    
    .fa {
        position: relative;
        top: 6px;
    }

    .nav-link {
        padding: 5px 10px;
        position: relative;
        top: 3px;
        left: -1px;
    }

    .act-btn{
        position: relative;
        top: -1px;
        left: 15px;
    }
    

    .site-desc {
        position: relative;
        top: 0;
    }

    .main-text {
        font-size: 94px;
        line-height: 100px;
    }

    .para-text {
        position: relative;
        top: 50px;
        font-size: 50px;
        line-height: 60px;
    }
    
}

@media screen and (max-width: 480px) {
    body{
        max-width: 375px;
    }

    .container {
        padding: 15px;
        margin: 0;
    }

    br{
        display: none;
    }

    .hamburger{
        display: flex;
        top: 20px;
        right: 30px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-link {
        font-size: 17px;    
        left: 6px;
    }

    .nav.active{
        display: block;
        position: relative;
        top: 5px;
        left: -10px;
    }

    .act-btn {
        position: relative;
        top: 10px;
        left: -2px;
    }

    .site-desc {
        position: relative;
        top: -30px;
    }

    .main-text {
        font-size: 45px;
        line-height: 50px;
    }

    .para-text {
        font-size: 22px;
        line-height: 30px;
        top: 40px;
    }
}