@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Poppins:wght@500&display=swap');

*{
    font-family: 'DM Sans', sans-serif;
}

body{
    background: url(./assets/hero_1.png) no-repeat center center fixed;
    background-size: cover;
    width: 1300px;
    height: 300px;
    background-color: #482BE7;
    box-sizing: border-box;
}

.container{
    margin-top: 10px;
}

.navbar-light .navbar-brand {
    width: 106px;
    height: 32px;
    left: 2px;
    top: -6px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    letter-spacing: -0.292683px;
    color: #FFFFFF;
}

.nav-link {
    height: 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.act-btn{
    width: 130px;
    height: 30px;
    padding: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;    
    display: flex;
    align-items: center;
    text-align: center;    
    color: #FFFFFF;
    outline: none;
    border: none;
    background: #482BE7;
    border-radius: 100px;
}

.site-desc{
    margin-top: 150px;
}

.main-text{
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;    
    text-align: center;
    letter-spacing: -1px;    
    color: #FFFFFF;
}

.para-text {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}